




         <%- include("../components/loadLibrary.ejs") -%>





<div class="container">
  <div class="table-responsive">


    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Code</th>
      <th scope="col">URL</th>
      <th scope="col">Clicks</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <% user.forEach(data => { %>
      <tr id="row-<%= data.codePX %>">
        <td> <%= data.name %> </td>
        <td> <a href="<%= data.url %>" style="color: #ffff;"><%= data.url %></a></td>
        <td> <%= data.codePX %> </td>
        <td> <a href="https://i7ii.cf/<%= data.codePX %>" style="color: #ffff;">i7ii.cf/<%= data.codePX %></a> </td>
        <td> <%= data.clicks %> </td>
        <td>
          <button id="<%= data.codePX %>" onclick="listDelete('<%= data.codePX %>')" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    <% }) %>      


      <footer>
        <center>
                            <button class="btn btn-primary show-more" style="margin: 30px">Show More</button>

        </center>
        
      </footer>
  </div>
</div>




      


          <script>



            

          
                  $(document).ready(function() {
    var rowsToShow = 10;
    var rows = $("#table-body").children("tr");
    rows.hide();
    rows.slice(0, rowsToShow).show();

    $(".show-more").click(function() {
      rowsToShow += 10;
      rows.slice(0, rowsToShow).show();
      if ($("#table-body tr:visible").length === rows.length) {
        $(".show-more").hide();
      }
    });
  });
                

</script>


<script>


    async function listDelete(id){
  // Get the button element and set its disabled property to true
  var button = document.getElementById(id);
  button.disabled = true;

  // Send the delete request
  axios.get('/delete?id=' + id)
    .then(function (response) {
      console.log(response.data)
      // check if the deletion was successful
      if (response.data.status === "SUCCESS") {
        // Wait for 600 milliseconds before removing the row
        setTimeout(function() {
          // Find the row to delete
          var row = document.getElementById("row-" + id);
          // Remove the row from the table
          row.remove();
        }, 600);
      } else {
        // If the deletion failed, re-enable the button
        button.disabled = false;
        // Show an error message
        alert(response.data.content);
      }
    });
}


          
            
</script>
